@import url(reset.css);

/* 기본 스타일 */
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box; /* 박스 모델을 적용하여 패딩과 보더를 포함한 전체 크기로 계산 */
}

/* 전체 페이지 스타일 */
body {
    margin: 0 auto;
}

/* 헤더 스타일 */
header {
    width: 100%;
    height: 12vh;
}

.inner {
    width: 95%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.logo img {
    height: 10vh;
}

.search {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-direction: row-reverse;
}

.search span {
    font-size: 45px;
    cursor: pointer;
}

.search input {
    width: 600px;
    height: 55px;
    font-size: 20px;
    padding: 10px;
    border: 1px solid #d1cfcf;
    border-radius: 10px;
}

/* 메인 스타일 */
.wrapper {
    width: 100%; margin-bottom: 30px;
}

.wrapper img {
    width: 100%;
}

.swiper {
    height: 100%;
}

/* 배너 스타일 */
.banner {
    display: flex;
    width: 100%;
    gap: 10px;
    margin: 5px 0 8px 0;
    flex-wrap: wrap;
    justify-content: space-between;
}
.banner img {
    width: 30%;
    margin-bottom: 15px;
}

.banner h2 {
    font-size: 2.5rem;
    font-weight: bold;
}

.banner h3 {
    font-size: 1.8rem;
    font-weight: bold;
}

.banner div {
    flex-flow: column;
    flex: 1;
    border: 1px solid #adadad;
    background: #e8e8e8;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 33vh;
}

.bannerBottom2 {
    display: none;
}

/* 컨테이너 및 메뉴 버튼 스타일 */
.container {
    display: flex;
    z-index: 999;
}

.menu-button {
    display: flex;
    align-items: center;
    font-size: 54px;
}

.close-button {
    font-size: 60px;
    display: flex;
    justify-content: end;
    padding: 20px 5%;
}

.close-button span {
    cursor: pointer;
}

.menu-button span {
    font-size: 45px;
    cursor: pointer;
}

/* 사이드 메뉴 스타일 */
.side-menu {
    width: 0;
    height: 100%;
    background-color: #333;
    color: #fff;
    position: fixed;
    top: 0;
    right: 0;
    overflow-x: hidden;
}

.side-menu ul {
    list-style-type: none;
    padding: 0;
}

.side-menu ul li {
    cursor: pointer;
    padding: 10px 60px 10px 20px;
    border-bottom: 1px solid #555;
}
.side-menu ul li p{
     background: url(/images/arrowTop.png) no-repeat right;
    font-size: 40px; margin-bottom: 15px; 
}

.side-menu ul li a {
    font-size: 26px;
    line-height: 40px;
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
}

.side-menu ul li a::after {
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    right: 10px;
    font-size: 14px;
}

.accordion-content {
    display: none;
    padding: 15px;
    background-color: #555;
    color: #fff;
}

/* 스와이퍼 버튼 스타일 */
.swiper-button-next::after,
.swiper-button-prev::after {
    color: white;
}

/* 팝업 스타일 */
.popup-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.popup-content {
    /* background-color: #fff; */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    text-align: center;
}

.popup-content input {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.popup-content button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

/* 팝업 설정 */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background-color: white; */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 1200px;
}

iframe {
    width: 100%;
    height: 80vh;
    border: none;
}

#closePopupButton {
    margin-top: 10px;
}

.material-symbols-outlined {
    font-family: "Material Icons Outlined";
    font-size: 24px;
}

#closePopupButton img {
    width: 50px;
    margin-top: 15px;
    margin-right: 30px;
    color: #555;
}

/* 음성 인식 알림 스타일 */
.voice-notification {
    display: none;
    position: absolute;
    font-size: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: black;
    color: white;
    padding: 30px 40px;
    border-radius: 5px;
    z-index: 1000;
}

/* 모바일 스타일 */
@media (max-width: 424px) {
    header {
        height: 8vh;
    }

    header span {
        font-size: 2rem;
    }

    .logo img {
        height: 6vh;
    }

    .search input {
        width: 170px;
        height: 4vh;
    }

    .search input::placeholder {
        font-size: 0.8rem;
    }

    .banner div {
        height: 18vh;
    }

    .banner div:last-child {
        display: none;
    }

    .banner img {
        width: 25%;
    }

    .banner h2 {
        font-size: 1.5rem;
    }

    .banner h3 {
        font-size: 1.2rem;
    }

    .bannerBottom {
        display: none;
    }

    .bannerBottom2 {
        display: flex;
        align-items: center;
        border: 1px solid #adadad;
        background: #e8e8e8;
        justify-content: center;
        height: 8vh;
        gap: 15px;
        margin-bottom: 10px;
    }
    .bannerBottom2 img {
        width: 10%;
    }
    .bannerBottom2 h2 {
        font-size: 1.5rem;
        font-weight: bold;
    }

    /* 팝업설정 */
    .search input {
        display: none;
    }
    .popup-content {
        width: 350px;
    }
}

/* 모바일 스타일 */
@media (min-width: 425px) and (max-width: 550px) {
    header {
        height: 10vh;
    }

    header span {
        font-size: 2.5rem;
    }

    .logo img {
        height: 7vh;
    }

    .search input {
        width: 170px;
        height: 6vh;
    }

    .search input::placeholder {
        font-size: 14px;
    }

    .banner div {
        height: 20vh;
    }

    .banner div:last-child {
        display: none;
    }

    .banner img {
        width: 25%;
    }

    .banner h2 {
        font-size: 1.8rem;
    }

    .banner h3 {
        font-size: 1.3rem;
    }

    .bannerBottom {
        display: none;
    }

    .bannerBottom2 {
        display: flex;
        align-items: center;
        border: 1px solid #adadad;
        background: #e8e8e8;
        justify-content: center;
        height: 12vh;
        gap: 20px;
        margin-bottom: 10px;
    }
    .bannerBottom2 img {
        width: 13%;
    }
    .bannerBottom2 h2 {
        font-size: 1.8rem;
        font-weight: bold;
    }

    /* 팝업설정 */
    .search input {
        width: 150px;
    }
    .search input::placeholder {
        font-size: 14px;
    }
    .popup-content {
        width: 500px;
    }
}

/* 모바일 스타일 */
@media (min-width: 551px) and (max-width: 768px) {
    .logo img {
        height: 8vh;
    }

    .search input {
        width: 300px;
    }

    .banner h2 {
        font-size: 2rem;
    }

    .banner h3 {
        font-size: 1.5rem;
    }

    .banner div {
        height: 22vh;
    }

    /* 팝업설정 */
    .search input {
        width: 300px;
    }
    .popup-content {
        width: 600px;
    }
}

/* 태블릿 스타일 */
@media (min-width: 769px) and (max-width: 1024px) {
    /* 태블릿 화면 크기에 대한 스타일 설정 */
    .popup-content {
        width: 800px;
    }
}
