.body_part1 {
  max-width: 100%; /* 화면 너비까지만 허용 */
  max-height: 100%;
  margin: 0 auto; /* 가운데 정렬 */
}

.section {
  display: flex;
  flex-direction: row; /* 가로로 배치 */
}

.intro_menu {
  flex: 2;
  padding: 20px;
  border: 1px solid #ccc;
  /* text-align: center; */
  /* margin: 0 auto; */
  font-size: 30px;
}

.youtube .material-symbols-outlined {
  font-size: 400px;
}

.right_icon {
  display: flex; /* 요소들 가로 정렬 */
  align-items: center; /* 수직 가운데 정렬 */
}

.page1_img {
  max-width: 90%;
  height: auto;
}

.subpage {
  flex: 8;
  padding: 20px;
  border: 1px solid #ccc;
  align-items: center;
  text-align: center;
}

.material-symbols-outlined {
  font-size: 35px;
}

.intro_menu .right_icon.clicked {
  font-weight: bold;
}

.intro_menu .right_icon.clicked .material-symbols-outlined {
  font-weight: bold;
}

.intro_div {
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
  padding: 0 auto;
}

/* 이미지와 텍스트 사이의 간격 조정 */
.intro_div img {
  flex: 5;
  max-width: 17%;
  height: auto;
  margin-bottom: 25px;
}

.intro_div div {
  flex: 5;
  max-width: 50%;
  height: 200px;
  background-color: aliceblue;
  margin-bottom: 25px;
}

.scroll-top-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  /* display: none;  */
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.scroll-top-button span {
  font-size: 24px;
  line-height: 1;
}

.scroll-top-button.active {
  display: block;
}